<mat-list-item>
    <h2 *ngIf="haveToUpdate()" mat-line style="color:rgb(187, 100, 100)">
      {{ad.name}} LEJÁRT
    </h2>
    <h2 *ngIf="!haveToUpdate()" mat-line>
        {{ad.name}}
      </h2>
    <p mat-line>
         {{ad.location}} {{ad.price}} Ft 
    </p>
    <p mat-line>
      {{ad.description}} 
     
    </p>
    <p *ngIf="!haveToUpdate()" mat-line>
      {{timeleft()}}
    </p>
    <div>
        <button *ngIf="owner==false && !haveToUpdate()" mat-button color="primary" (click)="accept()" >Elfogadás</button>
        <app-ad-extend *ngIf="owner && haveToUpdate()" (extendEvent)="extendEvent($event)"(deleteEvent)="deleteEvent()"></app-ad-extend>
    </div>
  </mat-list-item>
<!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
          {{ad.name}}
      </mat-panel-title>
      <mat-panel-description>
          {{ad.location}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table class = "list">
        <tr>
          <th>Név:</th>
          <td>{{ad.name}}</td> 
        </tr>
        <tr>
          <th>Helyszín</th>
          <td>{{ad.location}}</td> 
        </tr>
        <tr>
          <th>Határidő</th>
          <td>{{ad.deadline}}</td> 
        </tr>
        <tr>
          <th>Leírás</th>
          <td>{{ad.description}}</td> 
        </tr>
      </table>
    <p mat-line>
        {{ad.description}} Ft {{ad.location}}  {{ad.deadline}} <button mat-raised-button color="primary" (click)="accept()" >Elfogadás</button>
    </p>
  </mat-expansion-panel>

   -->