<div *ngIf="user">
  <mat-card class="userView">
  <h2>Adatok</h2>
  <p mat-line>Felhasznalónév: {{user.username}}</p>
  <p mat-line>Egyenleg: {{user.balance}}</p>
  <span *ngIf="user.rating!==0">
      <p mat-line>Értékelés: {{user.rating}}</p>
  </span>
  <span *ngIf="user.rating===0">
      <p mat-line>Még nem írtak értékelést</p>
  </span>
  <button mat-button (click)="edit()">Profil módosítása</button>
  </mat-card>
  
  <span *ngIf="editable">
      <mat-card>
      <mat-card-title>Profil módosítása</mat-card-title>
        <mat-card-content>
            <mat-form-field>
              <input matInput #userName type="text" placeholder="Új felhasznalonev">
            </mat-form-field>
            <mat-form-field>
                <input matInput #userPassword type="password" placeholder="Új jelszó">
            </mat-form-field>
            <button mat-button (click)="clickEdit(userName.value,userPassword.value)">
                Változtat
            </button>
        </mat-card-content>
      </mat-card>
  </span>
</div>
<div *ngIf="!user">
    <mat-spinner></mat-spinner>
</div>
