<h2 mat-line>Új hírdetés hozzáadása</h2>
<mat-form-field class="addAd">
    <input matInput #productName placeholder="Termék neve">
</mat-form-field>
<br>
<mat-form-field class="addAd">
    <input matInput #productLocation  placeholder="Cím">
</mat-form-field>
<br>
<mat-form-field class="addAd">
    <input matInput #price type ="number" placeholder="Ár">
</mat-form-field>
<br>
<mat-form-field class="addAd">
    <textarea matInput #description placeholder="Részletesebb leírás"></textarea>
</mat-form-field>

<p mat-line>Hány órán belül?</p>
<mat-slider
    #deadline
    class="example-margin"
    [max]="8"
    [min]="0"
    [step]="0.001"
    [thumb-label]="true"
    [vertical]="vertical"

    color="primary">
</mat-slider>
<br>
<span *ngIf="errors.length != 0"class="errormsg">
        <p *ngFor="let error of errors">
            Hiba: {{error}}
        </p>
</span>
<button mat-button color="primary"
    (click)="makeOrder(
                    productName.value
                    ,description.value
                    ,productLocation.value
                    ,price.value
                    ,deadline.value)">Megrendelem
</button>
