<mat-grid-list class = "landingpage" *ngIf="!authService.isLoggedIn()" cols="3" rows = "7" rowHeight="100px" gutterSize="0px">
    <mat-grid-tile  colspan = "3">
    </mat-grid-tile>
    <mat-grid-tile colspan = "2" rowspan = "5">
        <app-introduction></app-introduction>
    </mat-grid-tile>
    <mat-grid-tile rowspan = "5">
            <mat-tab-group>
                <mat-tab label="Bejelentkezés"><app-loginform (userData)= "tryLogin($event)"></app-loginform></mat-tab>
                <mat-tab label="Regisztráció" id="reg" ng-model="first"><app-registerform></app-registerform></mat-tab>
            </mat-tab-group>
    </mat-grid-tile>
            <mat-grid-tile  colspan = "3">
    </mat-grid-tile>
</mat-grid-list>


