<mat-card class = "loginform">
  <h4>Bejelentkezés</h4>
  <mat-form-field>
    <input matInput #userName type="text" placeholder="Felhasználónév" [errorStateMatcher]="userNameError" [formControl]="formControl" >
    <mat-error *ngIf="userNameError.errorStatus">
        {{userNameError.errorMsg}}
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput #userPassword type="password" placeholder="Jelszó" [errorStateMatcher]="passwordError" [formControl]="formControl">
    <mat-error *ngIf="passwordError.errorStatus">
    {{passwordError.errorMsg}}
    </mat-error>
  </mat-form-field>

  <br>
  <button mat-button (click)="clickLogin(userName.value,userPassword.value)">
    Bejelentkezés
  </button>

</mat-card>