/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-grid-tile {
    background:rgba(191, 215, 243, 0.637);
    text-align: center;
  }

body{
  margin:0;
}
.loginform{
  width: 275px;
  height: 250px;
}
  
.intraductionImage{
  font-size: 20pt;
  width: 800px;
  height: 400px;
}
.fillingRight {
  
  flex: 1.5 0 auto;
}
.fillingLeft {
  
  flex: 2 0 auto;
}



mat-list-item{
  border-left: 6px solid rgb(121, 106, 106);
  margin-bottom : 10px;
}

.ad{
  width: 800px;
  background: white;
}
mat-expansion-panel {
  flex:auto
}

mat-slider {
  width: 300px;
}

app-ad-extend{
  margin-top:20px;
}

mat-form-field.addAd{
  width: 300px;
}

.mat-tab-labels{
  justify-content: center; /* align items in Main Axis */
}


mat-card{
  margin: 20px auto;
  width: 1000px;
  flex: 1,1 auto;

}