/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-grid-tile {
    background:beige;
    text-align: center;
  }
 mat-card {
    margin: 20px auto;
    width: 700px;
    height: 300px;

  }

  .loginform{
    width: 275px;
    height: 250px;
  }
  
  .intraductionImage{
    width: 600px;
    height: 300px;
  }